* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

body {
    background: #7dd2ee;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #f84ab6;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;

}

.hero span {
    color: white;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background: rgb(235, 80, 222);
    cursor: pointer;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Projects */
.project-card {
    background: #5b0404;
    margin: 10px;
    padding: 20px;
    display: inline-block;
}

/* Contact */
input, textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
}